<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Контрольная работа - Саморуков</title>
    <style>
        input[type='text'] {
            width: 50px;
        }
    </style>
    <script type="text/javascript">
        calculate = function () {
            var resultRadius,
                isObtuseAngle,
                a = document.getElementById('a').value,
                b = document.getElementById('b').value,
                c = document.getElementById('c').value;

            if (this.isInvalidArray([a, b, c]))
                return;

            isObtuseAngle = Math.pow(a, 2) == Math.pow(b, 2) + Math.pow(c, 2); // Определяем наличие тупого угла в треугольнике

            a = parseFloat(a);
            b = parseFloat(b);
            c = parseFloat(c);

            if (isObtuseAngle) {
                resultRadius = c / 2;
            } else {
                var p = (a + b + c) / 2; //Полупериметр
                var denominator = p * (p - a) * (p - b) * (p - c);
                resultRadius = denominator <= 0 ? 0 : (a * b * c) / (4 * Math.sqrt(denominator)); // Расчет по формуле
            }
            var sammerText = resultRadius === 0 ? "Треугольник не существует" : "Минимальный радиус составляет: " + resultRadius;
            document.getElementById('results').innerText = sammerText;
        };

        isInvalidArray = function (arguments) {
            for (var i = 0; i < arguments.length; i++) {
                if (isNaN(arguments[i])) {
                    alert('Аргумент не является числом: ' + arguments[i]);
                    return true;
                }
                if (arguments[i] <= 0) {
                    alert('Число не является положительным: ' + arguments[i]);
                    return true;
                }
            }
            return false;
        }
    </script>
</head>
<body>
    <h1>49.	Напишите программу, которая определяет, из круга какого наименьшего радиуса можно вырезать треугольник со сторонами a,b,c. Указание: пусть c – большая из сторон треугольника. Если угол C – тупой, сторона c совпадает с диаметром круга, в противном случае имеем описанную окружность с радиусом</h1>

    Назад: @Html.ActionLink("Home", "Index")<br><br>
    <div>
        сторона а<input id="a" type="text" /><br><br>
        сторона b<input id="b" type="text" /><br><br>
        сторона c<input id="c" type="text" /><br><br>
        <button onclick="calculate()">Сalculate</button><br><br>
        <h3 id="results"></h3>
    </div>
</body>
</html>